<div class="index-container">

  <img src="images/beer.png" width="400" alt="beer" class="beer-cover-image">

  <button onclick="location.href='/beers'" type="button">Beers</button>
  <button onclick="location.href='/random-beers'" type="button">Random Beers</button>
  
</div>